{% extends 'base.html' %}

{% load static %}

{% block contenido_cambio %}
    <h2>Lista de Habitaciones</h2>

    
    <a href=" {% url 'CrearHabitacion' %} ">
        <button>Crear Nueva</button>
    </a>
    

    {% for habitacion in habitaciones  %}
        <li>
            <a href="{% url 'DetalleHabitacion' habitacion.id %}">Habitación {{ habitacion.numero }} </a>
        </li>
        <div>
            
            
            <a href="{% url 'EliminarHabitacion' habitacion.id %}" method='POST'> 
                <button  type="submit"> Eliminar</button>
            </a>{% csrf_token %}

            
            <a href="{% url 'EditarHabitacion' habitacion.id %}">
                <button>Editar</button>
            </a>
            

        </div> 

    {% endfor %} 

{% endblock contenido_cambio %}
    