{% extends 'base.html' %}

{% load static %}

{% block contenido_cambio %}
    <h2>Lista de Clientes</h2>

    <h5>
        {{ mensaje }}

        {{ edicion_exitosa }}
        {{ edicion_fallida }}
    </h5>

    
    <a href="{% url 'RegistroClientes'  %}">
        <button>Registrar Cliente</button>
    </a> 
    
    <a href="{% url 'BuscaCliente'  %}">
        <button>Buscar Cliente</button>
    </a> 
    

     {% for cliente in lista_clientes  %}
        <li>
            {{cliente.nombre}}
        </li>
        <div>
            <form  action= "{% url 'EliminaCliente' cliente.id %}" method='POST'>{% csrf_token %}
                <button  type="submit"> 
                    Eliminar 
                </button>
            </form>

            
            <a href="{% url 'EditarClientes' cliente.id %}">
                <button>Editar</button>
            </a>
            

        </div>

    {% endfor %} 

{% endblock contenido_cambio %}
    