{% extends 'base.html' %}

{% load static %}

{% block contenido_cambio %}
    <h2> Iniciar Sesión </h2>

    <h6>
        {{ mensaje }}
    </h6> 

    <form action="" method="POST"> {% csrf_token %}

        {{ miFormulario.as_p }}
        
        <button type="submit">Iniciar Sesión</button>
        
    </form>
    
        <a href="{% url 'Registrar' %}">
            <button>Crear Usuario</button>
        </a>
    

    
    {% if user.is_authenticated %}
    
    <a href="{% url 'EditarUsuario' %}">
        <button>Editar Usuario</button>
    </a>
    
    {% endif %}
        
    

    
{% endblock contenido_cambio %}
